## GITATTRIBUTES FOR WEB PROJECTS
#
# These settings are for any web project.
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
######################################################################

# Auto detect
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
*                 eol=lf

# Source code
*.bash            text eol=lf
*.html            text diff=html
*.ini             text eol=lf
*.js              text eol=lf
*.json            text eol=lf
*.sh              text eol=lf
*.ts              text eol=lf

# Documentation
*.ipynb           text
*.markdown        text
*.md              text
*.mdwn            text
*.mdown           text
*.mkd             text
*.mkdn            text
*.mdtxt           text
*.mdtext          text
*.txt             text
AUTHORS           text
CHANGELOG         text
CHANGES           text
CONTRIBUTING      text
COPYING           text
copyright         text
*COPYRIGHT*       text
INSTALL           text
license           text
LICENSE           text
NEWS              text
readme            text
*README*          text

# Templates
*.handlebars      text
*.hbs             text
*.hbt             text

# Configs
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package-lock.json text -diff
*.yaml            text
*.yml             text
